header{
  position: fixed;
  width: 100%;
  top: -100%;
  background-color: #c3c3c3;
  padding: 0.3rem;
  transition: top 0.3s ease;
  z-index: 1000; 
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.hero{
  height: 100vh; 
  position: relative;
  overflow: hidden;
}
.menu-btn{
  width: 5rem;
  height: 6px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #c3c3c3;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.menu-btn .line {
  display: block;
  width: 2.5rem;
  height: 5px;
  background-color: black;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 1px;
}

.menu-btn .line-1 {
  transform: translateY(-0.5rem);
}

.menu-btn .line-2 {
  transform: translateY(0);
}

.menu-btn .line-3 {
  transform: translateY(0.5rem);
}

.menu-btn.active .line-1 {
  transform: rotateZ(45deg) translateY(0.5rem);
}

.menu-btn.active .line-2 {
  opacity: 0;
}

.menu-btn.active .line-3 {
  transform: rotateZ(-45deg) translateY(-0.5rem);
}

.menu-contents {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  overflow: auto;
}

.menu-contents.show {
  display: block;
  transform: translateX(0);
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  margin: 1rem 0;
}

.header-menu a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  padding: 1rem;
}



.logo {
  flex-grow: 1; 
  text-align: center;
  padding: 0.5rem; 
  margin-left: 550px;
}

.img-logo {
  width: auto;
  height: 60px;
  /* flex-grow: 1;
  text-align: center;
  padding: 0 20px; */
}


.img-top{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-logo {
  position: absolute;
  top: 50%; /* 縦中央 */
  left: 50%; /* 横中央 */
  transform: translate(-50%, -50%); /* 中央に配置 */
  z-index: 10; /* 画像の上に表示 */
}
.img-hero-logo {
  width: 100vw; /* ロゴの幅を調整 */
  height: auto;
}
.header.visible {
  top: 0;
}
.news-font{
  display: flex; 
  /* justify-content: flex-end; */
  margin-right: 5rem;
  text-decoration: none;
  font-size: 15px;
}
.news{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%); 
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: green;
  padding: 0 10rem;
  border-radius: 5px;
  text-align: center;
}


.title{
  margin-left: 5rem;
}

.section1{
  background-color: #c3c3c3;
  width: 100%;
  height: 100%;
  /* margin-top: 5rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.img-about{
  display: flex;
  justify-content: space-around;
}
.img-box{
  margin: 5rem;
}
.number {
  font-size: 60px;
}
.img-about-img {
    margin-right: 5rem;
    width: 500px;
    height: 300px; 
    object-fit: cover;
}



.section2{
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.menu-h4{
  color: #a6a6a6;
  margin: 3rem;
}
.menu-box{
  height: auto;
  margin: 5rem;
  padding-bottom: 2rem;
  background-color: white;
  border-bottom: solid 1px black;
}
.menu-h2{
  display: flex;
  margin-left: 5rem;
}
.menu-w{
  width: 80%;
}
.menu-p{
  margin-left: 5rem;
}


#menu-button {
  background-color: white;
  color: black;
  border-bottom: solid 1px black;
  padding: 10px 20px;
  cursor: pointer;
  float:right;
  font-size: 16px;
  margin-right: 5rem;
}
.more:hover .menu-more {
  display: block;
}




.section3{
  background-color: #c3c3c3;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pick-font{
  display: flex;
  margin-left: 5rem;
  font-size: 30px;
  font-weight:bold;
}
.pick{
  margin: 5rem;
  padding: 5rem;
  background-color: #a6a6a6;
}
.pick-p{
  font-size: 25px;
}



.section4{
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 0;
}

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 70vh; /* 高さを自動で調整 */
}

/* ドットナビゲーションのスタイル */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 5rem
}

.active, .dot:hover {
  background-color: #717171;
}

/* フェードアニメーション */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.eyelist{
  width: 30vw;
  height: 30vw;
  margin: 5rem;
}

.eyestylist{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10rem;
  margin-left: 5rem;
}
.name{
  display: flex;
  font-size: 40px;
}
.N{
  color: rgb(23, 41, 146);
  font-weight:bold;
}

.map{
  width: 100%;
  margin: 5rem;
}

.access-maenu{
  padding: 4rem;
  margin: 10px;
}
.access-p{
  display: flex;

}
.access-1{
  font-size: 20px;
  font-weight:bold;
  width: 30%;
  margin-left: 5rem;
}
.access-2{
  font-size: 17px;
  width: 70%;
  margin-right: 5rem;
}

.qa-box{
  height: auto;
  margin: 5rem;
  padding-bottom: 2rem;
  background-color: white;
  border-bottom: solid 1px black;
}
.qa-1{
  width: 1000%;
  font-weight:bold;
  display: flex;
  justify-content: space-between; 
  cursor: pointer; 
}
.fas{
  margin-left: 5rem;
}
.qa-2{
  width: 80%;
  display: none;
}
.catch{
  display: flex;
  margin: 0;
  background-color: #c3c3c3;
}
.catch-p{
  padding: 5rem;
  font-size: 20px;
}
.catch-logo{
  margin-top: 40%;
}
.catch-img{
  width: 60%;
  height: auto;
  margin-right: 0;
}




.footer{
  background-color: #c3c3c3;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: solid 1px black;
}
#menu-footer li{
  list-style: none;
  font-size: 25px;
}
#menu-footer li a{
  color: #333;
  padding:0 20px;
  text-decoration: none;
  margin: 5rem;
}
.column-list{
  column-count: 2; /* 2列に分割 */
  column-gap:5px; /* 列間の間隔を指定 */
  padding: 0;
  margin: 5px;
  width: 50%;
}
.icon{
  display: flex;
  justify-content: flex-end
}
.instagram{
  margin-right: 1rem;
}
.line{
  margin-right: 2rem;
}

.footer-img{
  display: flex;
  justify-content: center;
}
.footer-logo{
  width: 70%;
  height: auto;
  margin-top: 20%;
}