header{
  /* position: fixed; */
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;
  background-color: #c3c3c3;
  padding: 10px 0;
  z-index: 1000; 
}

.logo {
    display: flex;
    justify-content: center;
}

.img-logo {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
}

.menu{
  display: inline;
  }
.header-menu {
  justify-content: space-between;
  display: flex;
}

.img-top{
  width: 100%;
  height: 100%;
}

.section1{
  background-color: #c3c3c3;
  width: 100%;
  height: 100vh;
  
}
.img-about{
  display: flex;
  justify-content: space-between;
}
.img-about-img {
    margin-right: 5rem; 
    margin-left: 5rem;
    width: 300px;
    height: 300px; 
    object-fit: cover; */
}

.section2{
  background-color: white;
  width: 100%;
  height: 600vh;
}
.menu-h4{
  color: #a6a6a6;
}
.menu-box{
  width: 90%;
  height: auto;
  background-color: white;
  border-bottom: solid 1px black;
}
.menu-h2{
  display: flex;
  margin-left: 5rem;
}
.menu-p{
  margin-left: 5rem;
}

.section3{
  background-color: #c3c3c3;
  width: 100%;
  height: 600px;
}

.section4{
  background-color: white;
  width: 100%;
  height: 600px;
}

